/* General Styles */
.copy p {
    color: #ecf0f1;
    text-align: left;
}

.social h3 {
    color: #3498db;
    margin: 5px 0;
}

#disclaimer p {
    color: #bdc3c7;
    font-size: 0.9em;
    text-align: center;
}